<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 ng-if="$ctrl.is_supporting">Supporters of Measure {{ $ctrl.referendum.number }}</h1>
      <h1 ng-if="!$ctrl.is_supporting">Agaisnt Measure {{ $ctrl.referendum.number }}</h1>
      <div class="divided-section">
        <h2>Money {{ $ctrl.support_oppose }} the measure <span class="money">{{ $ctrl.total_contributions | dollar }}</span></h2>
      </div>
      <div class="divided-section">
        <ul class="odca-list">
          <li ng-repeat="committee in $ctrl.committees" class="odca-list-item">
            <a ng-href="{{ '/committee/' + committee.id  | url }}" class="odca-list-item__link"><div class="odca-list-item__content">{{ committee.name }} <span class="text-grey-4 money">{{ committee.amount | dollar}}</span></div><div class="odca-list-item__chevron"></div></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
