/* _custom.scss
 *
 * Add your custom SASS/SCSS styles here. Looking for plain ol' CSS? Check out
 * `assets/css/custom.css` instead.
 **/

.candidate {
  .candidate__photo {
    display: inline-block;
    margin-right: 1rem;

    img {
      object-fit: cover;
      height: 160px;
      width: 160px;
    }
  }

  .candidate__info {
    display: inline-block;
    max-width: calc(100% - 160px);
    min-width: 20rem;
    overflow-x: hidden;
    vertical-align: top;
  }

  .candidate__name {
    font-weight: bold;
  }

  .candidate__website {
    word-wrap: break-word;
  }

  .glyphicon {
    color: rgba(0, 0, 0, 0.2);
  }
}

.odca-list {
  padding-left: 0;
  margin: -1rem; // TODO remove the padding on divided-section

}
.odca-list-item {
  @extend .text-large;
  border-top: 1px solid $body-bg;
  list-style: none;

  &:first-child {
    border-top: none;
  }

  &:hover {
    background-color: $body-bg;
  }

  .odca-list-item__link {
    display: inline-block;
    height: 100%;
    padding: 1.5rem;
    width: 100%;

    &:hover {
      text-decoration: none;
    }
  }

  .odca-list-item__content {
    @extend .text-semibold;
    color: $core-grey-2;
    float: left;
    line-height: 2.4rem;
    width: calc(100% - 3rem);
  }

  .odca-list-item__chevron {
    @extend .glyphicon;
    @extend .glyphicon-chevron-right;
    float: right;
  }
}

.section-header {
  color: $core-grey-3;

  .section-header__subtext {
    color: $core-grey-2;
    margin-left: 5rem;
  }
}

.section {
  border-top: 2px solid #ffdd1f;
  padding: 0 2rem;

  &:first-child {
    border-top: none;
  }
}

money-bar {
  display: block; // block display so we can calculate width

  .money-bar__measure {
    background-color: $linkTextColor;
    display: inline-block;
    height: 2rem;
    margin-right: 1rem;
    min-width: 5px;
  }

  .money-bar__measure--red {
    background-color: #e95300;
  }

  .money-bar__measure--green {
    background-color: #0fc48b;
  }

  .money-bar__value {
    @extend .number;
    color: $core-grey-3;
    display: inline-block;
    vertical-align: top;
  }
}

.money-by-region {
  margin-bottom: 2rem;
  color: $core-grey-3;

  .money-by-region__heading {
    @extend .text-small;
    @extend .text-semibold;
    line-height: 2;
  }
}

.see-more {
  @include clearfix();
  color: $core-grey-4;
  margin: 1rem 0;
  text-align: right;

  .see-more__chevron {
    @extend .glyphicon;
    @extend .glyphicon-chevron-right;
  }
}
