/* _custom.scss
 *
 * Add your custom SASS/SCSS styles here. Looking for plain ol' CSS? Check out
 * `assets/css/custom.css` instead.
 **/

.candidate-list-item {
  $photo-height: 8rem;
  min-height: $photo-height;

  .candidate__photo {
    display: inline-block;
    margin-right: 1rem;
    width: $photo-height; // photo is square-ish

    img {
      width: 100%;
    }
  }

  .candidate__info {
    $calc-offset: $photo-height + 2;
    display: inline-block;
    height: 100%;
    max-width: calc(100% - #{$calc-offset});
    min-width: 10rem;
    vertical-align: top;
  }

  .candidate__contributions {
    @extend .text-serif;
    @extend .text-small;
    color: $core-grey-4;

    .money {
      @extend .text-medium;
      color: $core-grey-3;
    }
  }
}

.candidate-profile {
  margin-bottom: 2rem;
}

.candidate-profile__info {
  margin-bottom: 1rem;
}

.candidate-profile__photo {
  display: inline-block;
  margin-right: 1rem;
  width: 16rem;

  img {
    width: 100%;
  }
}

.candidate-profile__info-content {
  display: inline-block;
  line-height: 1.4;
  max-width: calc(100% - 18rem);
  min-width: 28rem;
  vertical-align: bottom;
}

.candidate-profile__twitter,
.candidate-profile__website {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.candidate-profile__bio {
  @extend .text-serif;
}

.odca-list {
  padding-left: 0;
  margin: -1rem; // TODO remove the padding on divided-section

}
.odca-list-item {
  @extend .text-large;
  border-top: 1px solid $body-bg;
  list-style: none;

  &:first-child {
    border-top: none;
  }

  &:hover {
    background-color: $body-bg;
  }

  .odca-list-item__link {
    display: inline-block;
    height: 100%;
    padding: 1.5rem;
    width: 100%;

    &:hover {
      text-decoration: none;
    }
  }

  .odca-list-item__content {
    @extend .text-semibold;
    color: $core-grey-2;
    float: left;
    line-height: 2.4rem;
    width: calc(100% - 2rem);
  }

  .odca-list-item__chevron {
    @extend .glyphicon;
    @extend .glyphicon-chevron-right;
    float: right;
    width: 2rem;
  }
}

.section-header {
  color: $core-grey-3;

  .section-header__subtext {
    color: $core-grey-2;
    margin-left: 5rem;
  }
}

.section {
  border-top: 2px solid #ffdd1f;
  padding: 0 2rem;

  &:first-child {
    border-top: none;
  }
}

money-bar {
  display: block; // block display so we can calculate width

  .money-bar__measure {
    background-color: $linkTextColor;
    display: inline-block;
    height: 2rem;
    margin-right: 1rem;
    min-width: 5px;
    transition: 1.5s cubic-bezier(0, 0, 0.05, 1) width;

    // For animations
    .is-off-screen & {
      width: 5px !important;
    }
  }

  .money-bar__measure--red {
    background-color: $color-red;
  }

  .money-bar__measure--green {
    background-color: $color-green;
  }

  .money-bar__value {
    @extend .number;
    color: $core-grey-3;
    display: inline-block;
    vertical-align: top;
  }
}

.money-by-region {
  margin-bottom: 2rem;
  color: $core-grey-3;

  .money-by-region__heading {
    @extend .component__heading;
  }
}

.component__heading {
  @extend .text-small;
  @extend .text-semibold;
  line-height: 2;
}

.see-more {
  @include clearfix();
  color: $core-grey-4;
  margin: 1rem 0;
  text-align: right;

  .see-more__chevron {
    @extend .glyphicon;
    @extend .glyphicon-chevron-right;
  }
}

.hero {
  @extend .jumbotron;
}

.hero--sacremento {
  background-image: url("../img/sacremento-capital-splash.png");
  background-position: center;
  background-size: cover;
  color: $white;

  & .panel {
    color: initial;
  }
}

.candidate__money {
  @extend .text-large;
  @extend .text-serif;
  margin: 1rem 0;
  clear: both;

  .money {
    float: right;
    text-align: right;
  }
}

.candidate__money--contributions {
  color: $color-green;
}

.candidate__money--expenditures {
  color: $color-red;

  .money {
    &::before {
      content: '\2796'
    }
  }
}

.candidate__money--loans {
  color: $color-blue;

  .money {
    &::before {
      content: '\2795'
    }
  }
}

.candidate__money--current-balance {
  color: $core-grey-4;
}

.footer-list {
  list-style: none;
  padding-left: 0;

  .footer-list__item {
    padding: 0.5rem 0;
  }
}

.odca-footer {
  @include odca-border();
  background-color: $core-grey-5;
  padding: 2rem 0;
}

.money-summary {
  text-align: center;
  padding-bottom: 4rem;

  .money-summary__header {
    color: $core-grey-3;
  }

  .money-summary__money {
    font-size: 3.8rem;
  }
}

.committee-list {
  .committee-list__name {
    margin-bottom: 1rem;
  }

  .committee-list__money-bar {
    max-width: 60rem;
  }

  .committee-list__money-value {
    text-align: right;
  }
}
