$odca-brand-border: 5px solid $brand-warning;

@mixin odca-contentBlock {
	background-color: $white;
	padding: 10px;
	box-sizing: border-box;
}

@mixin odca-contentBlock--singleItem {
	border-top: $odca-brand-border;
	@include odca-contentBlock;
}